mixin svg(name)
  svg(class=`icon-${name}`)
    if productionMode
      use(xlink:href=`/cesarblanco/assets/icons/symbols.svg#${name}`)
    else
      use(xlink:href=`assets/icons/symbols.svg#${name}`)

mixin img(name, alt)
  if productionMode
    img(src=`assets/images/${name}` alt= alt ? alt : '')
  else
    img(src=`assets/images/${name}` alt= alt ? alt : '')
