mixin svg(name)
  svg(class=`icon-${name}`)
    if productionMode
      use(xlink:href=`/cesarblanco/assets/icons/symbols.svg#${name}`)
    else
      use(xlink:href=`assets/icons/symbols.svg#${name}`)

mixin img(name, alt)
  if productionMode
    img(src=`assets/images/${name}` alt= alt ? alt : '')
  else
    img(src=`assets/images/${name}` alt= alt ? alt : '')

mixin tuitazo(options)
  .col-md-4
    blockquote.twitter-tweet(data-lang="es")
      p(lang='es', dir='ltr')= options.tweet
        a(href=`https://t.co/${options.id}`) pic.twitter.com/#{options.id}
      | — #{options.author} (@#{options.hangle})
      a(href= options.link)= options.date
